backcall==0.2.0
bcrypt==3.2.0
certifi==2022.12.7
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cryptography==3.4.7
decorator==5.0.9
docutils==0.17.1
feedgen==0.9.0
Flask==2.0.1
Flask-ReCaptcha==0.4.2
idna==2.10
importlib-metadata==4.0.1
invoke==1.5.0
ipython==7.23.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
paramiko==2.7.2
parso==0.8.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.9.0
PyNaCl==1.4.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.16.0
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==2.0.1
zipp==3.4.1
