/**
 * Eric Meyer's CSS Reset v1.0 | 20080212
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
header, nav, aside, section, footer,
figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* html5 tags */
header, nav, aside, section, footer,
figure, figcaption {
    display: block;
}

/**
 * Ren'Py Main CSS
 */
body {
    font: 1em "PT Sans", "Helvetica", sans-serif;
    line-height: 1.4em;
}

h1, h2 {
    font-size: 1.85em;
    padding: 1px 0 5px;
    border-bottom: 1px solid #ACD;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 2px;
    margin: 20px auto 10px;
}

h3 {
    font-size: 1.35em;
    margin: 20px auto 10px;
}

pre {
    overflow: auto;

    max-width: 1000px;
}

a {
    color: #3183A3;
    text-decoration: underline;
}

a:hover {
    color: #F16838;
}

dt {
    margin: 10px auto 0;
}

dd {
    margin-left: 2em;
}

sup {
    font-size: .7em;
    vertical-align: top;
}

.sup-description, .sup-description sup {
    font-size: .8em;
}

/* Header Styling */
header {
    background: #ACD;
    margin-bottom: 15px;
}

#nav-header {
    display: none;
}

#menu {
    text-align: right;

    margin: 0 auto;
    width: 1000px;
    height: 95px;
}

.menu-item {
    display: inline;

    height: 95px;
    line-height: 155px;

    margin: 0 0 0 12.5px;
}

.menu-item a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;

    padding: 5px 10px 6px;
}

.menu-item a:hover {
    color: #F16838;
    background: #FFF;
}
.menu-item a.selected {
    background: #FFF;
}

#logo {
    float: left;

    margin: 3px 0 -13px;
    font-size: 1.85em;
    height: 89px;
    line-height: 95px;
}

#logo a {
    display: inline-block;

    height: 100px;
    font-size: 2em;
    background: url('logo.png') no-repeat left center;
    text-shadow: 2px 2px 2px #9CBECF;
    padding-left: 75px;
    padding: 0 0 0 75px;
    text-align: left;
}

#logo a:hover {
    color: #000;
    padding-bottom: 0px;
    text-shadow: 2px 2px 2px #5A7D8E;
}

/* Footer Styling */
#content, footer {
    margin: 0 auto;
    width: 1000px;
}

footer {
    border-top: 1px solid #DDD;
    margin-top: 20px;
    padding-top: 10px;
}

footer p,
footer ul,
footer li {
    margin: 0 auto 5px;
    line-height: 1.1em;
}

.col {
    float: left;
    width: 200px;
    margin-right: 20px;
}

.col-right {
    float: right;
    width: 200px;
}

.twitter-widget {
    width: 300px;
}

#quick-links {
    float: right;
}

#quick-links li {
    display: inline;
    margin-left: 15px;
}

#quick-links a {
    text-decoration: none;
}

/* Content Styling */
#content ul {
    list-style: square inside;
}

section {
    clear: left;

    margin: 0 auto 35px;
}

aside {
    float: right;
    width: 380px;

    /* Fix overlap issue when floating next to an h(1-6) element */
    background: #FFF;
    padding: 0 0 10px 20px;
    margin: 0;
}

aside.small {
    width: 240px;
}

aside figcaption {
    margin: 5px auto 25px;
}

aside.small figcaption {
    margin: 5px auto 15px;
}

.after-header {
    margin-top: 10px;
}

section p,
section ul,
section dl,
section pre {
    margin: 10px 0;
}

a.button {
    display: inline-block;

    min-width: 150px;

    color: #000;
    background: #ACD;
    font-size: 1.2em;

    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 1px #D0F2FF;

    margin: 5px auto;
    padding: .3em .35em .4em;
    border: 1px solid black;
    -moz-border-radius: .25em;
    border-radius: .25em;
    -webkit-box-shadow: 0px 5px 5px #CCC;
    -moz-box-shadow: 0px 5px 5px #CCC;
    box-shadow: 0px 5px 5px #CCC;
}

a.button:hover {
    background: #BCAD9D;
    text-shadow: -1px -1px 1px #FED;
    -webkit-box-shadow: 0px 5px 5px #999;
    -moz-box-shadow: 0px 5px 5px #999;
    box-shadow: 0px 5px 5px #999;
}

.center { text-align: center; }
.clear { clear: both; height: 0px; }
.no-clear { clear: none; }

/* Main Page Styling */
#start-tips ul {
    list-style: none;
}

#start-tips li {
    display: inline-block;
    width: 287px;

    vertical-align: top;

    margin: 0px 10px 15px auto;
}

/* Why Page Styling */
.os-icons {
    float: right;
}

/* Download Page Styling */
.downloads {
    list-style: none;
    text-align: center;
    margin: 15px 0 20px;
}

.downloads li {
    display: inline-block;
    margin: 0 8px;
}

a.download-button span {
    display: block;
    font-size: .75em;
    line-height: 1em;
}