{% extends "base.html" %}

{% block title %}Art Postcard Information{% endblock %}

{% macro card(month) %}
<div class="col-sm-4" style="margin-bottom: 1em;">
<a href="/static/artcard/{{ month }}.jpg" class="colorbox">
<img src="/static/artcard/{{ month }}.jpg" class="img-thumbnail" style="max-height: 200px">
</a>
</div>
{% endmacro %}

{% block content %}

<h2>Art Postcard Commission Information</h2>

<div class="row">
<div class="col-md-8">

<p>
Thank you for considering a commission as part of the Ren'Py art postcard
project, which is associated with <a href="https://www.patreon.com/renpytom">my Patreon</a>.
Because I do not want to limit access to Ren'Py code to only those who can
pay for it, I have decided that the rewards will be a mix of virtual sponsorships and
a physical collectible good: these art cards.
</p>

<p>
Here's how it works: I commission artists to create artistic postcards
for me (generally featuring our mascot character, Eileen). These are sent to
patrons who support Ren'Py development at the $10 or higher level.
</p>

<h3>Short Version</h3>

I'm interested in commissioning a postcard that features Ren'Py's mascot,
Eileen. I want to work with you to create something you'll enjoy drawing and can do well.
I pay $75 upon delivery of the completed artwork, and the art is a work-for-hire.

<h3>Technical Details</h3>

<p>
The postcard will be printed at 600 DPI. While the postcard itself will be
6 inches by 4 inches, it should include a 0.125-inch bleed area on
each side, for a total size of 6.25 by 4.25 inches. The postcard may be
in either portrait or landscape format.
</p>

<p>
If working digitally, this means a 3750x2550 canvas, with 75-pixel borders on
each side that should contain the image, but not any important elements.
</p>

<p>
300 DPI images are also acceptable; in that case, the dimensions should be
1875x1275, with 38-pixel borders.
</p>

<p>
Please do not use generative AI tools to create the art for the postcard.
</p>

<h3>Content Details</h3>

<p>
I do not have a strong preference for what each card should contain. While
it should relate to Ren'Py and our Eileen mascot character in some way,
beyond that, I would like to commission art in the style you are best at and
featuring the content you most enjoy creating.
</p>

<p>
Please forgive me if I am not perfect when it comes to making
artistic decisions. My general philosophy is to leave most creative choices
to the artist—you're the expert in that area.
</p>

<p>
To give you some ideas, here are examples of what has already been commissioned:
</p>

<ul>
<li> Eileen as an idol singer, welcoming people.
<li> Eileen as a mage, summoning a Python from a spellbook.
<li> Phantom Thief Eileen.
</ul>

<p>
All of the cards commissioned up to 2021 are available below.
</p>

<p>
Good ideas for content include:
</p>

<ul>
<li> Seasonal themes (Eileen setting off fireworks, walking through falling leaves, or through snow).
<li> Genre-based concepts (What would Eileen look like if she starred in various genres of visual novel?).
<li> Crossovers (Do you have a popular visual novel? What would Eileen look like if she guest-starred?).
</ul>

<p>
I do not want fanservice-based content, as these cards are sent to a wide community of backers
and creators.
</p>

<h4>About Eileen</h4>

<p>
Eileen is the Ren'Py mascot character, from the Ren'Py tutorial. The defining
aspects of her look are:
</p>

<ul>
<li>Short, pinkish-red hair.
<li>Blue eyes.
<li>A gold hairband. This can be explicitly present or suggested in some other
way - for example, in one postcard it's replaced by a yellow hairbow.
</ul>

<p>
Python can also be hinted at in some ways, especially by the inclusion of
the friendly yellow snake from the Ren'Py logo, or the two-snakes Python logo.
</p>

<p>Reference images are located on the right side of this page.</p>


<h3>Payment and Credit Details</h3>

<p>
These commissions go for $65 per post card, which is about 30% of the revenue th
postcards bring in. I'm happy to work with the artist to negotiate details of
the composition to hit that price point.
</p>

<p>
I can pay through paypal or venmo, though other methods can be used on a
case-by-case basis. I need to list the transaction as a purchase (not a gift),
so that I can deduct the cost as a business expense on my taxes.
</p>

<p>
I pay promptly on full delivery of the art, but do not pay before the art has
been fully delivered.
</p>

<p>
This is a work-for-hire arrangement, where once you are payed the agreed-upon
amount, I own the copyright to the work. Once the postcard has been sent to
Patreon backers (which may take up to a year), you can post the image as
part of a portfolio of your commission work.
</p>

<p>
I credit the artist on the back of the postcard, generally using the name we talk under.
If you have any specifics as to how you want to be credited, please let me know.
</p>


</div>

<div class="col-sm-4">


<a href="/static/artcard/eileen happy.png" class="colorbox">
<img src="/static/artcard/eileen happy.png" class="img-thumbnail" style="max-height: 200px">
</a><br>

<a href="/static/artcard/shirt_eileen_only.png" class="colorbox">
<img src="/static/artcard/shirt_eileen_only.png" class="img-thumbnail" style="max-height: 200px">
</a><br>

<a href="/static/artcard/eileen-nami.png" class="colorbox">
<img src="/static/artcard/eileen-nami.png" class="img-thumbnail" style="max-height: 200px">
</a><br>

<a href="/static/artcard/eileen-snake-shadow.png" class="colorbox">
<img src="/static/artcard/eileen-snake-shadow.png" class="img-thumbnail" style="max-height: 200px">
</a><br>


</div>


</div>


<div class="row">

{{ card("2017-06") }}
{{ card("2017-07") }}
{{ card("2017-08") }}
{{ card("2017-09") }}
{{ card("2017-10") }}
{{ card("2017-11") }}
{{ card("2017-12") }}

{{ card("2018-01") }}
{{ card("2018-02") }}
{{ card("2018-03") }}
{{ card("2018-04") }}
{{ card("2018-05") }}
{{ card("2018-06") }}
{{ card("2018-07") }}
{{ card("2018-08") }}
{{ card("2018-09") }}
{{ card("2018-10") }}
{{ card("2018-11") }}
{{ card("2018-12") }}

{{ card("2019-01") }}
{{ card("2019-02") }}
{{ card("2019-03") }}
{{ card("2019-04") }}
{{ card("2019-05") }}
{{ card("2019-06") }}
{{ card("2019-07") }}
{{ card("2019-08") }}
{{ card("2019-09") }}
{{ card("2019-10") }}
{{ card("2019-11") }}
{{ card("2019-12") }}

{{ card("2020-01") }}
{{ card("2020-02") }}
{{ card("2020-03") }}
{{ card("2020-04") }}
{{ card("2020-05") }}
{{ card("2020-06") }}
{{ card("2020-07") }}
{{ card("2020-08") }}
{{ card("2020-09") }}
{{ card("2020-10") }}
{{ card("2020-11") }}
{{ card("2020-12") }}

{{ card("2021-01") }}
{{ card("2021-02") }}
{{ card("2021-03") }}
{{ card("2021-04") }}
{{ card("2021-05") }}
{{ card("2021-06") }}
{{ card("2021-07") }}
{{ card("2021-08") }}
{{ card("2021-09") }}
{{ card("2021-10") }}
{{ card("2021-11") }}
{{ card("2021-12") }}



</div>


{% endblock %}
