{% extends "base.html" %}

{% block title %}Art Card Information{% endblock %}

{% macro card(month) %}
<div class="col-sm-4" style="margin-bottom: 1em;">
<a href="/static/artcard/{{ month }}.jpg" class="colorbox">
<img src="/static/artcard/{{ month }}.jpg" class="img-thumbnail" style="max-height: 200px">
</a>
</div>
{% endmacro %}

{% block content %}

<h2>Art Card Commission Information</h2>

<div class="row">
<div class="col-md-8">

<p>
Thank you for considering taking a commission as part of the Ren'Py art card
project. This is associated with <a href="https://www.patreon.com/renpytom">my Patreon</a>.
Since I do not want to limit the availability of Ren'Py code to people that are able to
pay for it, I've decided that the rewards to be a mix of virtual sponsorships and
a physical collectible good. What I've settled on in the latter case is a monthly
postcard featuring Ren'Py-related imagery. (Generally involving our mascot character,
Eileen.)
</p>


<h3>Technical Details</h3>

<p>
The postcard will be printed at 300 DPI. While the postcard itself will be
6 inches by 4 inches in size, it should have a 0.125 inch bleed area on
each side, for a total size of 6.25 by 4.25 inches.
</p>


<h3>Content Details</h3>

<p>
I don't have a strong opinion as to what I want each card to contain. While
it should be related to Ren'Py and our Eileen mascot character in some way,
beyond that I'd like to commission art in the style you're best at, and
containing the content you're best at.
</p>

<p>
Please forgive me if I'm not completely perfect when it comes to making
artistic decisions. My general philosophy is to leave most artistic decisions
to the artist - you're the expert in that area.
</p>

<p>
To give you some ideas, here's what's already been commissioned:
</p>

<ul>
<li> Eileen as an Idol Singer, welcoming people.
<li> Eileen as Mage, summoning a Python from a spellbook.
<li> Phantom Thief Eileen.
</ul>

<p>
Good ideas for content are:
</p>

<ul>
<li> Seasonal. (Eileen setting off fireworks, walking through falling leaves, or through snow.)
<li> Genre-Based. (What would Eileen look like if she was staring in various genres of visual novel?)
<li> Crossover. (Do you have a popular visual novel? What would Eileen look like if she guest-starred?)
</ul>

<p>
I do not want fanservice-based content, as this is going to a wide community of backers
and creators.
</p>


<h4>About Eileen</h4>

<p>
Eileen is the Ren'Py mascot character, from the Ren'Py tutorial. The defining
aspects of her look are:
</p>

<ul>
<li>Short, pinkish-red hair.
<li>Blue eyes.
<li>A gold hairband. This can be explicitly present or suggested in some other
way - for example, in one postcard it's replaced by a yellow hairbow.
</ul>

<p>
Python can also be hinted at in some ways, especially by the inclusion of
the friendly yellow snake from the Ren'Py logo, or the two-snakes Python logo.
</p>

<p>Reference images are located on the right side of this page.</p>


<h3>Credit and Business Details</h3>

<p>
I'd like to credit you and the Ren'Py games you've worked on on the back of
the postcard we send out with the art on it. So please decide how you'd like
to be credited.
</p>

<p>
This is a work-for-hire arrangement, where once you are payed the agreed-upon
amount, I own the copyright to the work. Once the postcard has been sent to
Patreon backers (which may take several months), you can post the image as
part of a portfolio of your comission work.
</p>

<p>
I can pay through Paypal, clearXchange, or via a check through the mail. I need
to list the transaction as a purchase (not a gift), so I can deduct the cost
as a business expense on my taxes.
</p>

<p>
I can either pay half after we agree on the details of the commission (concept,
price, and schedule), and then the second half at delivery, or all at delivery
time.
</p>


</div>

<div class="col-sm-4">


<a href="/static/artcard/eileen happy.png" class="colorbox">
<img src="/static/artcard/eileen happy.png" class="img-thumbnail" style="max-height: 200px">
</a><br>

<a href="/static/artcard/shirt_eileen_only.png" class="colorbox">
<img src="/static/artcard/shirt_eileen_only.png" class="img-thumbnail" style="max-height: 200px">
</a><br>

<a href="/static/artcard/eileen-nami.png" class="colorbox">
<img src="/static/artcard/eileen-nami.png" class="img-thumbnail" style="max-height: 200px">
</a><br>

<a href="/static/artcard/eileen-snake-shadow.png" class="colorbox">
<img src="/static/artcard/eileen-snake-shadow.png" class="img-thumbnail" style="max-height: 200px">
</a><br>


</div>


</div>


<div class="row">

{{ card("2017-06") }}
{{ card("2017-07") }}
{{ card("2017-08") }}
{{ card("2017-09") }}
{{ card("2017-10") }}
{{ card("2017-11") }}
{{ card("2017-12") }}

{{ card("2018-01") }}
{{ card("2018-02") }}

</div>


{% endblock %}
