<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>{% block title %}Home - Ren'Py{% endblock %}</title>

        <link rel="icon" href="/static/favicon.ico">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:regular,bold&amp;subset=latin">
        <link rel="stylesheet" href="/static/style.css">
        <!--[if lte IE 8]><link rel="stylesheet" href="/static/style-ie.css">
        <script type="text/javascript" src="/static/iepp.1-6-1.min.js"></script><![endif]-->
    </head>
    <body>
        {% block header %}
        <header>
            <p id="nav-header"><strong>Navigation</strong></p>
            <a id="logo" href="/" title="What is Ren'Py?">Ren'Py</a>
            <nav>
                <ul id="menu">
                    <li class="menu-item"><a {% if name == 'why' %}class="selected" {% endif %}href="/why.html" title="Why Ren'Py?">Why</a></li>
                    <li class="menu-item"><a {% if name == 'download' %}class="selected" {% endif %}href="/download.html" title="Download Ren'Py">Download</a></li>
                    <li class="menu-item"><a href="/doc/html/">Documentation</a></li>
                    <li class="menu-item"><a {% if name == 'support' %}class="selected" {% endif %}href="/support.html">Support</a></li>
                    <li class="menu-item"><a href="http://games.renpy.org/">Games</a></li>
                    <li class="menu-item"><a href="/shop/">Shop</a></li>
                </ul>
            </nav>
            <!-- <form method="get" action="http://google.com/search">
                <input type="text" name="q">
                <button type="submit" title="Search Ren'Py">Search</button>
            </form> -->
            <div class="clear"></div>
        </header>
        {% endblock %}

        <div id="content">
            {% block content %}
            <p>I can has base? :3</p>
            {% endblock %}

            <div class="clear"></div>
        </div>

        {% block footer %}
        <footer>
            <p id="nav-footer"><strong>Quick Links</strong></p>
            <ul id="quick-links">
                <li><a href="/">Home</a></li>
                <li><a href="/why.html">Why</a></li>
                <li><a href="/download.html">Download</a></li>
                <li><a href="/doc/html/">Documentation</a></li>
                <li><a href="/support.html">Support</a></li>
                <li><a href="http://games.renpy.org/">Games</a></li>
                <li><a href="/shop/">Shop</a></li>
            </ul>
            <p>Copyright &copy; PyTom</p>
        </footer>
        {% endblock %}
    </body>
</html>
