{% extends "base.html" %}

{% block title %}Download Ren'Py{% endblock %}

{% block content %}
<div class="section">
    <h1>Download Ren'Py</h1>

    <div class="showcase after-header">
        <object width="380" height="238">
            <param name="movie" value="http://www.youtube.com/v/gMDwc2owtmk?fs=1&amp;hl=en_US&amp;rel=0"></param>
            <param name="allowFullScreen" value="true"></param>
            <param name="allowscriptaccess" value="always"></param>
            <embed src="http://www.youtube.com/v/gMDwc2owtmk?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="380" height="238"></embed>
        </object>
    </div>

    <p>Ren'Py is free to download and use for commercial and non-commercial purposes. It may be modified and distributed under the terms of its <a href="/license.html">License</a>.</p>

    <p><strong>Ren'Py 6.11.1 "Done in One"</strong> was released on September 17, 2010. The main distributions are:</p>

    <ul class="downloads">
        <li><a href="#" class="button download-button">Download SDK <span>7z.exe - 20 MiB</span></a></li>
        <li><a href="#" class="button download-button">Download SDK <span>zip - 25 MiB</span></a></li>
        <li><a href="#" class="button download-button">Download SDK <span>tar.bz2 - 24 MiB</span></small></a></li>
    </ul>

    <p>You only need to download one of these three files. Each of these files contains the full Ren'Py software development kit, containing everything needed to develop Ren'Py games for Windows 2000 and up, Mac OS X 10.4 and up, and Linux x86. The development environment contains the files needed to produce games for all three platforms. Each file also includes the jEdit text editor, the Ren'Py demo, and "The Question", an example game.</p>
    <p><strong>Java Requirement.</strong> Java 1.5 or later is required to run the jEdit text editor. If it's not installed on your computer, you'll need to download it from java.com. Java is not required to run Ren'Py games, only to develop your own.</p>
    <p><strong>License.</strong> Ren'Py is licensed under a very liberal license, that allows for free commercial and non-commercial use. Read the full license for details, but a short summary is that you can distribute Ren'Py games however you want, as long as you include LICENSE.txt.</p>
</div>

<div class="section">
    <h2>Release History and Updates</h2>
    <dl>
        <dt>2010-09-17</dt>
        <dd>Released 6.11.1b as 6.11.1 final.</dd>

        <dt>2010-09-15</dt>
        <dd>Second pre-release (6.11.1b). Bug fixes and changes in mode semantics.</dd>

        <dt>2010-09-09</dt>
        <dd>Initial pre-release (6.11.1a).</dd>
    </dl>
</div>
<div class="section">
    <p>For a complete list of Ren'Py releases, see the <a href="/wiki/renpy/releases">wiki</a>.</p>
</div>
{% endblock %}