{% if mode == "prerelease" %}
  <p>
  Ren'Py {{release.version}} has been publicly prereleased. Prereleases are
  suitable for testing, but not for the release of final games. This pre-release
  can be downloaded from:
  </p>

  <ul>
  <li> <a href="https://www.renpy.org/release/{{release.version}}">https://www.renpy.org/release/{{release.version}}</a>
  </ul>

  <p>
  A changelog can be found at:
  </p>

  <ul>
  <li> <a href="https://www.renpy.org/doc/html/changelog.html">https://www.renpy.org/doc/html/changelog.html</a>
  </ul>


  <p>A list of incompatible changes, if any, can be found at:</p>

  <ul>
  <li> <a href="https://www.renpy.org/doc/html/incompatible.html">https://www.renpy.org/doc/html/incompatible.html</a>
  </ul>


  <p>
  Here's a preview of the release announcement:
  </p>

  {{release.announcement|rst|safe}}


{% elif mode == "update" %}

  <p>
  Ren'Py {{release.full_version}} has been updated. The update can be downloaded from:
  </p>

  <ul>
  <li> <a href="https://www.renpy.org/release/{{release.version}}">https://www.renpy.org/release/{{release.version}}</a>
  </ul>

  <p>
    Here's the history of updates
    to Ren'Py {{release.version}}:
  </p>

  {{release.history|rst|safe}}

{% else %}
  <p>
  Ren'Py {{release.version}} has been publicly released. It can be downloaded from:
  </p>

  <ul>
  <li> <a href="https://www.renpy.org/release/{{release.version}}">https://www.renpy.org/release/{{release.version}}</a>
  </ul>

{% if release.history %}
  <p>
    Here's the history of updates to Ren'Py {{release.major_minor}}:
  </p>

  {{release.history|rst|safe}}
{% endif %}

  <p>Here's the Ren'Py {{release.major_minor}} release announcement:</p>

  {{release.announcement|rst|safe}}

{% endif %}
