{% extends "base.html" %}

{% block title %}The Ren'Py Visual Novel Engine{% endblock %}
{% block extra_head %}
{% endblock %}

{% block content %}
<aside>

    <p class="blurb">
    Ren'Py has been used to create <a href="http://games.renpy.org">over 400 games</a>, including:
    </p>

    <figure>
        <img src="/static/ss/juniper.jpg">
        <figcaption>
          <a class="gamename" href="http://junipersknot.dischan.org/">Juniper's Knot</a>, the story of an encounter between
          a boy and a fiend.
        </figcaption>
    </figure>

    <figure>
        <img src="/static/ss/elevator.jpg">
        <figcaption>
          <a class="gamename" href="http://elevator.cyanide-tea.net/">The Elevator</a>, the story of an encounter between a 
          detective and his past.
          </figcaption>
    </figure>


</aside>

<section id="what-is-renpy">
    <h1>What is Ren'Py?</h1>
    <p>Ren'Py is a visual novel engine that helps you use words, images, and sounds to tell stories with the computer. These can be both visual novels and life simulation games. The easy to learn script language allows you to efficiently write large visual novels, while its Python scripting is enough for complex simulation games.</p>
    <p>Ren'Py is open source and free for commercial use. It supports Windows, Mac OS X, Linux, and Android.</p>
    <div class="center"><a href="/why.html" class="button">Learn More</a></div>
</section>

<section id="getting-renpy">
    <h2>How do I get Ren'Py?</h2>
    <p>

        {% if data.current.patch_date %}
        The latest version of Ren'Py is {{data.current.full_version}}, released on {{data.current.patch_date}}. This release fixes bugs 
        found in Ren'Py {{data.current.version}} "{{data.current.name}}".
        {% else %}
        The latest version of Ren'Py is {{data.current.version}} "{{data.current.name}}", released on {{data.current.date}}.
        {% endif %}
        

        Releases are announced on <a href="http://twitter.com/renpytom">@renpytom</a> and <a href="/feed/">our RSS Feed</a>.
    </p>

    <div class="center"><a href="/latest.html" class="button">Download</a></div>

    {% if data.prerelease %}
    <p>
        A pre-release of Ren'Py is available for testing:
        <a href="/release/{{ data.prerelease.version }}">Ren'Py {{ data.prerelease.version }} "{{ data.prerelease.name }}"</a>
    </p>
    {% endif %}

</section>

<section id="start-tips">
    <h2>Where do I start?</h2>
    <div>
    <ul>

        <li>A comprehensive manual, including a quickstart guide, is included with Ren'Py and available <a href="/doc/html/">online</a>.</li>
        <li>The best places to ask questions about Ren'Py are the <a href="http://lemmasoft.renai.us/forums/">Lemma Soft Forums</a> and the <a href="http://webchat.freenode.net/?channels=renpy">#renpy IRC channel</a>.
        <li>You can also <a href="/support.html#contact">contact us</a> via email.</li>
        <li>This website is available in <a href="http://renpy.sukebo.com">Japanese</a>.</li>
    </ul>
    </div>
    
    <div>
      <ul>
        <li>Ren'Py uses Github for <a href="http://www.github.com/renpy/renpy">source management</a> and <a href="http://www.github.com/renpy/renpy/issues">issue tracking</a>.</li>
      </ul>
      <p style="text-align: center; margin-top: -10px">
      <a href="http://www.github.com/renpy/renpy">
        <img src="/static/github.png" width="150" height="292" alt="Eileen and Octocat">
      </a>
      </p>
    </div>
</section>
{% endblock %}
