{% extends "base.html" %}

{% block title %}What is Ren'Py?{% endblock %}
{% block extra_head %}
<link rel="alternate" href="http://feeds.launchpad.net/renpy/announcements.atom" title="Atom feed" type="application/atom+xml"> 
{% endblock %}

{% block content %}
<aside>
    <figure>
        <a href="http://games.renpy.org/game/realistair"><img src="/static/realistair-thumb.jpg"></a>
        <figcaption><a href="http://games.renpy.org/game/realistair">RE: Alistair++</a> is one of the more than 200 visual novels and simulation games that have been made with Ren'Py. Find them all in the <a href="http://games.renpy.org/">Ren'Py games list</a>.</figcaption>
    </figure>
    <figure>
        <a href="http://games.renpy.org/game/flowershop"><img src="/static/flowershop-thumb.jpg"></a>
        <figcaption><a href="http://games.renpy.org/game/flowershop">The Flower Shop</a> shows how Ren'Py can be used to create story-based simulation games.<!-- is one of the [dozen] commerical games available from the Ren'Py shop. Your purchases help to support Ren'Py development. --></figcaption>
    </figure>
</aside>

<section id="what-is-renpy">
    <h1>What is Ren'Py?</h1>
    <p>Ren'Py is a visual novel engine that helps you use words, images, and sounds to tell stories with the computer. These can be both visual novels and life simulation games. The easy to learn script language allows you to efficiently write large visual novels, while its Python scripting is enough for complex simulation games.</p>
    <p>Ren'Py is open source and free for commercial use. It supports three computer platforms: Windows, Mac OS X, and Linux.</p>
    <div class="center"><a href="/why.html" class="button">Learn More</a></div>
</section>

<section id="getting-renpy">
    <h2>How do I get Ren'Py?</h2>
    <p>
      The latest release of Ren'Py is {{data.current.version}} "{{data.current.name}}", released on {{data.current.date}}.
      Releases are announced on <a href="http://twitter.com/renpytom">Twitter</a> and <a href="https://launchpad.net/renpy/+announcements">Launchpad</a>.
    </p>

    <div class="center"><a href="/latest.html" class="button">Download</a></div>

    {% if data.prerelease %}
    <p>
      A pre-release of Ren'Py is available for testing:
      <a href="/release/{{ data.prerelease.version }}">Ren'Py {{ data.prerelease.version }} "{{ data.prerelease.name }}"</a>
    </p>
    {% endif %}
      
</section>

<section id="start-tips">
    <h2>Where do I start?</h2>
    <ul>
        <li>A comprehensive manual, including a quickstart guide, is included with Ren'Py and available <a href="/doc/html/">online</a>.</li>
        <li>Our <a href="/wiki/renpy/Home_Page">wiki</a> includes user-contributed documentation, including a <a href="/wiki/renpy/doc/FAQ">FAQ</a>, <a href="/wiki/renpy/doc/cookbook/">code examples</a>, and <a href="/wiki/renpy/doc/translations/Translations">interface translations</a>.</li>
        <li>The best place to ask questions about Ren'Py is the <a href="http://lemmasoft.renai.us/forums/">Lemma Soft Forums</a>. We also have an <a href="http://webchat.freenode.net/?channels=renpy">IRC channel</a>, and a <a href="http://bugs.launchpad.net/renpy">bug tracker</a>.</li>
        <li>You can also <a href="/support.html#contact">contact us</a> via email.</li>
    </ul>
</section>
{% endblock %}
