{% extends "base.html" %}
{% set doclink = "http://www.renpy.org/dev-doc/html" if release.prerelease else "http://www.renpy.org/doc/html" %}

{% block title %}Download Ren'Py {{release.version}}{% endblock %}

{% macro url(variant) %}http://www.renpy.org/dl/{{release.full_version}}/renpy-{{release.full_version}}-{{variant}}{% endmacro %}
{% macro dl(variant) %}<a href="{{ url(variant) }}">renpy-{{release.full_version}}-{{variant}}</a>{% endmacro %}

{% block content %}
<section>
  {% if release.prerelease %}
  <p style="color: #800; text-align: center;">This is a pre-release version of Ren'Py. Please test it and report bugs, but don't release games with it until it becomes final.</p>
  {% endif %}

  {% if release.top_html %}{{ release.top_html|safe }}{% endif %}

    <h1>Download Ren'Py {{release.version}}</h1>

    <p>Ren'Py is free to download and use for commercial and non-commercial purposes.<br>It may be modified and distributed under the terms of its <a href="http://www.renpy.org/doc/html/license.html">license</a>.</p>

    {% if release.full_html %}
      <div style="width: 1000px; margin-left: -15px">
        {{ release.full_html | safe}}
      </div>
    {% endif %}

    {% if release.aside_html %}
    <aside class="after-header">
        {{ release.aside_html|safe }}
    </aside>
    {% endif %}

    <p>

        <strong>Ren'Py {{release.version}} "{{release.name}}"</strong> was released on {{release.date}}.
        {% if release.patch_date %}
        It was updated to {{ release.full_version }} on {{ release.patch_date }}.
        {% endif %}

        The main distributions are:

    </p>

    <ul id="downloads">
        <li><a href="{{ url("sdk.7z.exe") }}" class="button download-button win">Download SDK <span>7z.exe - {{ release.exe }} MiB</span></a></li>
        <li><a href="{{ url("sdk.zip") }}" class="button download-button mac">Download SDK <span>zip  {{ release.zip }} MiB</span></a></li>
        <li><a href="{{ url("sdk.tar.bz2") }}" class="button download-button linux">Download SDK <span>tar.bz2 - {{ release.bz2 }} MiB</span></small></a></li>
    </ul>

    <p>You only need to download one of these three files. Each of these files contains the full Ren'Py software development kit, containing everything needed to develop Ren'Py games for Windows XP and up, Mac OS X 10.4 and up, and Linux x86{% if release.world_order >= 4 %}/x86_64{% endif %}. The development environment contains the files needed to produce games for all three platforms, the Ren'Py tutorial, and "The Question", an example game.</p>

    {% if release.android and release.world_order < 5 %}
    <p style="clear: both"><strong>Android.</strong>
        To package a Ren'Py game for Android, please use RAPT - the Ren'Py Android Packaging Tool. RAPT can be downloaded <a href="/dl/android">here</a>, and is documented in the <a href="/doc/html/android.html">Ren'Py Documentation</a>.
    </p>
    {% endif %}

{% if release.world_order >= 5 %}
    <p><strong>Additional Downloads.</strong> When necessary, the Ren'Py SDK will automatically download additional packages, such as text editors and Android support. These packages are available for direct download <a href="#dlc">at the bottom of this page</a>.
{% elif release.world_order == 4 %}
    <p><strong>Additional Downloads.</strong> When first used, Ren'Py will prompt you to download a text editor. An Internet connection is required for this download.</p>
{% else %}
    <p><strong>Java Requirement.</strong> Java is required to run the jEdit text editor. If it's not installed on your computer, you'll need to <a href="http://www.java.com/en/download/index.jsp">download it from java.com</a>. Java is not required to run Ren'Py, only to develop with it.</p>
{% endif %}

</section>

{% if release.history %}
<section style="clear: both">
    <h2>Release History and Updates</h2>
    {{release.history|rst|safe}}
</section>
{% endif %}

<section style="clear: both">
    <h2>Announcement</h2>
    {{release.announcement|rst|safe}}

    <p>Downloads of {{release.version}} can be found at:</p>

    <dl>
        <dd>
            <a href="http://www.renpy.org/release/{{release.version}}">http://www.renpy.org/release/{{release.version}}</a>
        </dd>
    </dl>


    <p>A full list of changes to Ren'Py can be found at:</p>

    <dl>
        <dd>
            <a href="{{ doclink }}/changelog.html">{{ doclink }}/changelog.html</a>
        </dd>
    </dl>

    <p>A list of changes that may require you to update your game can be found at:</p>

    <dl>
        <dd>
            <a href="{{ doclink }}/incompatible.html">{{ doclink }}/incompatible.html</a>
        </dd>
    </dl>
</section>

{% if release.world_order >= 4%}
<section>
   <a name="dlc"></a>
   <h2>Editor Downloads</h2>

    <p>
    When first asked to edit a file, the Ren'Py launcher will prompt you to download and
    install an editor. As this may fail if your Internet connection is unreliable, the
    editors can be downloaded separately. To install, extract the contents of the editor
    archive to the Ren'Py directory.
    </p>


    <dl>
      <dt><strong>Editra (Windows):</strong> {{ dl("editra-windows.zip") }}</dt>
      <dt><strong>Editra (Mac):</strong> {{ dl("editra-mac.zip") }}</dt>
      <dt><strong>Editra (Linux):</strong> {{ dl("editra-linux.tar.bz2") }}</dt>
      <dt><strong>jEdit:</strong> {{ dl("jedit.zip") }}</dt>
    </dl>

</section>
{% endif %}

{% if release.world_order >= 5%}
<section>
   <a name="dlc"></a>
   <h2>Android Support</h2>

    <p>
    When building an Android package, the Ren'Py launcher will prompt you to download and
    install RAPT, the Ren'Py Android Packaging Tool. As this may fail if your Internet connection is unreliable, the
    editors can be downloaded separately. To install, extract the contents of the editor
    archive to the Ren'Py directory. (Place the "rapt" directory into the "renpy-{{release.full_version}}" directory.)
    </p>


    <dl>
      <dt><strong>RAPT:</strong> {{ dl("rapt.zip") }}</dt>
    </dl>

</section>
{% endif %}

<section>
    <h2>Additional Downloads</h2>

    <dl>
        {% if release.powerpc %}
        <dt><strong>PowerPC Support:</strong> <a href="http://www.renpy.org/dl/{{release.full_version}}/renpy-ppc.zip">renpy-ppc.zip</a>
        <dd>Allows games developed with Ren'Py {{release.full_version}} to run on PowerPC Macintoshes.
        {% endif %}
        <dt><strong>Source Code:</strong> {{ dl("source.tar.bz2") }}</dt>
        <dd>Contains the source code of the Ren'Py distribution without any binary components.</dd>
        <dt><strong>Dependencies:</strong> <a href="http://www.renpy.org/dl/lgpl/renpy-deps-{{release.deps}}.tar.bz2">renpy-deps-{{release.deps}}.tar.bz2</a></dt>
        <dd>Contains source code for the libraries that Ren'Py depends on.</dd>
    </dl>

    <p>We also maintain a <a href="/release_list.html">complete list of releases</a>.
</section>
{% endblock %}
