{% extends "base.html" %}
{% set doclink = "http://www.renpy.org/dev-doc/html" if release.prerelease else "http://www.renpy.org/doc/html" %}

{% block title %}Download Ren'Py {{release.version}}{% endblock %}

{% block content %}
<section>
  {% if release.prerelease %}
  <p style="color: #800; text-align: center;">This is a pre-release version of Ren'Py. Please test it and report bugs, but don't release games with it until it becomes final.</p>
  {% endif %}

    <h1>Download Ren'Py {{release.version}}</h1>

    {% if release.aside_html %}
    <aside class="after-header">
        {{ release.aside_html|safe }}
    </aside>
    {% endif %}

    <p>Ren'Py is free to download and use for commercial and non-commercial purposes. It may be modified and distributed under the terms of its <a href="http://www.renpy.org/doc/html/license.html">license</a>.</p>

    <p>
        
        <strong>Ren'Py {{release.version}} "{{release.name}}"</strong> was released on {{release.date}}. 
        {% if release.patch_date %}
        It was updated to {{ release.full_version }} on {{ release.patch_date }}.
        {% endif %}

        The main distributions are:
        
    </p>

    <ul id="downloads">
        <li><a href="http://www.renpy.org/dl/{{release.full_version}}/renpy-{{release.full_version}}-sdk.7z.exe" class="button download-button win">Download SDK <span>7z.exe - {{ release.exe }} MiB</span></a></li>
        <li><a href="http://www.renpy.org/dl/{{release.full_version}}/renpy-{{release.full_version}}-sdk.zip" class="button download-button mac">Download SDK <span>zip  {{ release.zip }} MiB</span></a></li>
        <li><a href="http://www.renpy.org/dl/{{release.full_version}}/renpy-{{release.full_version}}-sdk.tar.bz2" class="button download-button linux">Download SDK <span>tar.bz2 - {{ release.bz2 }} MiB</span></small></a></li>
    </ul>

    <p>You only need to download one of these three files. Each of these files contains the full Ren'Py software development kit, containing everything needed to develop Ren'Py games for Windows 2000 and up, Mac OS X 10.4 and up, and Linux x86. The development environment contains the files needed to produce games for all three platforms. Each file also includes the jEdit text editor, the Ren'Py demo, and "The Question", an example game.</p>

    {% if release.android %}
    <p style="clear: both"><strong>Android.</strong>
        {% if release.prerelease %}
        <img align="right" src="/static/qr-beta.png" width="175" height="175">
        The latest pre-release of Ren'Py is available from <a href="https://market.android.com/details?id=org.renpy.android_beta">the Android Market</a>, or by scanning the QR code.
        {% else %}
        <img align="right" src="/static/qr.png" width="175" height="175">
        The latest release of Ren'Py is available from <a href="https://market.android.com/details?id=org.renpy.android">the Android Market</a>, or by scanning the QR code.
        {% endif %}

        Android package files and the renpy-apk packaging tool <a href="http://www.renpy.org/dl/android/">are available here.</a> 
    </p>
    {% endif %}
    <p><strong>Java Requirement.</strong> Java is required to run the jEdit text editor. If it's not installed on your computer, you'll need to <a href="http://www.java.com/en/download/index.jsp">download it from java.com</a>. Java is not required to run Ren'Py, only to develop with it.</p>
</section>

{% if release.history %}
<section style="clear: both">
    <h2>Release History and Updates</h2>
    {{release.history|rst|safe}}
</section>
{% endif %}

<section style="clear: both">
    <h2>Announcement</h2>
    {{release.announcement|rst|safe}}

    <p>Downloads of {{release.version}} can be found at:</p>

    <dl>
        <dd>
            <a href="http://www.renpy.org/release/{{release.version}}">http://www.renpy.org/release/{{release.version}}</a>
        </dd>
    </dl>


    <p>A full list of changes to Ren'Py can be found at:</p>

    <dl>
        <dd>
            <a href="{{ doclink }}/changelog.html">{{ doclink }}/changelog.html</a>
        </dd>
    </dl>

    <p>A list of changes that may require you to update your game can be found at:</p>

    <dl>
        <dd>
            <a href="{{ doclink }}/incompatible.html">{{ doclink }}/incompatible.html</a>
        </dd>
    </dl>
</section>

<section>
    <h2>Additional Downloads</h2>

    <dl>
        {% if release.powerpc %}
        <dt><strong>PowerPC Support:</strong> <a href="http://www.renpy.org/dl/{{release.full_version}}/renpy-ppc.zip">renpy-ppc.zip</a>
        <dd>Allows games developed with Ren'Py {{release.full_version}} to run on PowerPC Macintoshes.
        {% endif %}
        <dt><strong>Source Code:</strong> <a href="http://www.renpy.org/dl/{{release.full_version}}/renpy-{{release.full_version}}-source.tar.bz2">renpy-{{release.full_version}}-source.tar.bz2</a></dt>
        <dd>Contains the source code of the Ren'Py distribution without any binary components.</dd>
        <dt><strong>Dependencies:</strong> <a href="http://www.renpy.org/dl/lgpl/renpy-deps-{{release.deps}}.tar.bz2">renpy-deps-{{release.deps}}.tar.bz2</a></dt>
        <dd>Contains source code for the libraries that Ren'Py depends on.</dd>
    </dl>

    <p>We also maintain a <a href="/release_list.html">complete list of releases</a>.
</section>
{% endblock %}
