{% extends "base.html" %}
{% macro banner(s) %}
<div class="{{ s.level.span }}" style="text-align: center; margin-bottom: 10px;">
<a href="{{ s.url }}" rel="nofollow"><img src="/static/sponsors/{{s.level.width}}x{{s.level.height}}/{{s.credit_name}}.png" alt="{{s.credit_name}}" width="{{ s.level.width }}}}"></a>
</div>
{% endmacro %}

{% macro non_banner(s) %}
<div class="col-md-6" style="text-align: center; margin-top: .5em; margin-bottom: .5em; font-size: 18px;">
{% if s.url %}
<a href="{{ s.url}}" rel="nofollow">{{ s.credit_name }}</a>
{% else %}
{{ s.credit_name }}
{% endif %}

</div>
{% endmacro %}


{% block title %}Sponsors{% endblock %}

{% block content %}


<div class="row">
<div class="col-md-8 col-md-offset-2">

<h1>Sponsors</h1>

<p>
The following people and organizations have sponsored Ren'Py through our
<a href="https://www.patreon.com/renpytom">our lead developer's Patreon page</a>. Their generosity helps us purchase
the software and equipment needed to develop Ren'Py. Thank you to everyone who's chosen to sponsor us.
</p>


<div class="row">
{% for s in banner_sponsors %}{{ banner(s) }}{% endfor %}
</div>

<div class="row">
{% for s in non_banner_sponsors %}{{ non_banner(s) }}{% endfor %}

<div class="col-md-6" style="text-align: center; margin-top: .5em; margin-bottom: .5em; font-size: 18px;">
... and <b>{{ anonymous_sponsors }}</b> anonymous sponsors.
</div>

</div>



<p style="text-align: center; font-size: 30px; margin: 1em;">
  <a href="https://www.patreon.com/renpytom" style="color: #e6461a">
    <img style="margin-left: .5em; max-height: 34px; vertical-align: top;" src="/static/sponsors/patreon.png">
    Become a Sponsor!
  </a>
</p>

</div>
</div>

{% endblock %}

