{% extends "base.html" %}

{% block title %}Ren'Py Support{% endblock %}

{% block content %}
<section>
    <h1>Ren'Py Support</h1>

    <aside class="after-header">
        <figure>
            <a href="/latest.html"><img src="/static/tutorial-thumb.jpg"></a>
            <figcaption>The <a href="/latest.html">Ren'Py Tutorial</a> is bundled with the game and contains many examples to help you in creating your game.</figcaption>
        </figure>
    </aside>

    <p>Having trouble with Ren'Py? Try visiting the resources listed below.</p>
</section>

<section>
    <h2>Documentation</h2>

    <p>The <a href="/doc/html/">documentation</a> contains everything you need to know about how to use Ren'Py, including a <a href="/doc/html/quickstart.html">quickstart guide</a> and <a href="/doc/html/language_basics.html">language primer</a>.</p>
</section>

<!--
<section>
    <h2>Wiki</h2>

    <p>The <a href="/wiki/renpy/Home_Page">wiki</a> contains a wealth of information such as an <a href="/wiki/renpy/doc/FAQ">FAQ</a>, <a href="/wiki/renpy/doc/cookbook/">code examples</a>, and <a href="/wiki/renpy/doc/translations/Translations">interface translations</a> to help you get started on your visual novel.</p>
</section>
-->

<section>
    <h2>Forum</h2>

    <p>The <a href="http://lemmasoft.renai.us/forums/viewforum.php?f=8">Ren'Py section</a> of the <a href="http://lemmasoft.renai.us/forums/">Lemma Soft Forums</a> is the best place to ask questions about Ren'Py.</p>
</section>

<section>
    <h2>IRC Channel</h2>

    <p>The IRC channel is another great place to talk about Ren'Py and creating visual novels. You can visit us on <a href="irc://irc.freenode.net/renpy">irc.freenode.net in #renpy</a>. If you don't have an IRC client, there are a few <a href="http://webchat.freenode.net/?channels=renpy">Web</a> <a href="http://www.mibbit.com/?server=irc.freenode.net&amp;channel=%23renpy">based</a> clients to let you get in on the fun!</p>
</section>

<section>
    <h2>Github</h2>

    <p>We use <a href="https://github.com/renpy/renpy">Github</a> for project management, including code hosting and <a href="https://github.com/renpy/renpy/issues">issue tracking.</a></p>
</section>

<section id="contact">
    <h2>Contact PyTom</h2>

    <p>PyTom is the creator of Ren'Py. You can contact him via email at <em>pytom at bishoujo.us</em>. 
      While most messages will get a prompt reply, if you don't hear back in a few days your message might have been eaten by a spam filter. In that case please email <em>renpytom at gmail.com</em>, or PM him on the Lemma Soft Forums. (We apologize in advance for any inconvenience.)</p>
</section>
{% endblock %}
