{% extends "base.html" %}

{% block title %}Why Ren'Py?{% endblock %}

{% block content %}
<section id="why-renpy">
    <h1>Why Ren'Py?</h1>
    <p>Ren'Py is a free and cross platform engine for digital storytelling. It makes it easy to combine words, images, and sounds to create visual novels and life simulation games.</p>
    <p><strong>Visual novels</strong> are computer-based stories that are told through words, images, sounds, and music. Many visual novels also present the player with menu choices that allow the player to control how the story is told.</p>
    <p>Ren'Py's script language makes it easy to write visual novels, and other writing-heavy games. It's easy to learn, and scales well to the largest projects. Even without customization, Ren'Py provides the features players have come to expect from their visual novels.</p>
    <p><strong>Life Simulation</strong> games, such as management and dating sims, are more interactive games that mix story with gameplay. Ren'Py's screen language allows one to create complex interfaces, while its support for the Python scripting language allows for complex game logic, if that's what your project requires.</p>
</section>

<section id="free-open-source">
    <h2>Free and Open Source</h2>
    <aside class="small">
        <figure>
            <a href="http://games.renpy.org/game/summersession"><img src="/static/summersession-thumb.jpg"></a>
            <figcaption><a href="http://games.renpy.org/game/summersession">Summer Session</a> is one of many commercial games made with Ren'Py.</figcaption>
        </figure>
    </aside>
    <p>Ren'Py is free to use with commercial and non-commercial games. There is no need to pay a fee to us or anyone else<sup><a href="#note-1">1</a></sup> to distribute your Ren'Py game. Ren'Py has already been used with a half-dozen commercial games, and more are on the way.</p>
    <p>Ren'Py doesn't tie your work to a particular company, web service, or business model. Ren'Py games have been digitally downloaded millions of times, can be moved on USB drives, and have been burned to CD and sold at conventions from Texas to Tokyo. We think it's important the maker can choose how his or her work is distributed.</p>
    <p>Ren'Py is open source, which means that everyone is allowed to change it, in order to fix bugs or add features. Of course, with a record of over <strong>fifteen years</strong> of improvements, it likely won't be necessary --- but the option is there if your project needs it.</p>
</section>

<section id="cross-platform">
    <h2>Cross Platform - Computer and Mobile</h2>
    <div class="os-icons">
        <img src="/static/windows-small.png">
        <img src="/static/osx-small.png">
        <img src="/static/linux-small.png">
    </div>
    <p>One of Ren'Py's biggest advantages is that runs on almost every computer. There are three primary platforms we support:</p>
    <ul>
        <li>Windows Vista+ (x86, x86_64)</li>
        <li>Mac OS X 10.6+ (x86_64)</li>
        <li>Linux (x86, x86_64)</li>
    </ul>
    <p>The Ren'Py launcher makes it possible to build versions of Ren'Py games for all three from any of these three platforms, making it possible to develop (for example) Mac and Linux versions on Windows.</p>
    <p>Ren'Py games are not dependent on any other software on these platforms. There's no need for your users to download runtimes, drivers, codecs, or anything like that. If a user has one of the supported platforms, Ren'Py will run. (Even if not, Ren'Py is written using portable technologies like pygame, and so can probably be made to run.)</p>
    <div class="os-icons">
        <img src="/static/android-small.png">
        <img src="/static/ios-small.png">
        <img src="/static/html5-small.png">
    </div>
    <p>Android and iOS are supported as a secondary platforms. Ren'Py runs on these devices, but development must occur on one of the computer platforms. Ren'Py games can be run inside a browser that supports Web Assembly, but this support will be Beta until the browser platform improves.</p>
</section>

<section id="simple-scripting-language">
    <h2>Simple Scripting Language</h2>
    <p>Ren'Py allows visual novels to be written in a simple scripting language. Here's a small excerpt from a game:</p>

    <pre><span class="rpy-keyword">label</span> family:
    <span class="rpy-keyword">scene</span> bg beach2
    <span class="rpy-keyword">with</span> dissolve

    <span class="rpy-string">"It wasn't long before Mary broke the silence, by asking me a question."</span>

    <span class="rpy-keyword">show</span> mary dark smiling
    <span class="rpy-keyword">with</span> dissolve

    m <span class="rpy-string">"I told you a little about my family... but I haven't asked you about yours yet. What's your family like?"</span>

    p <span class="rpy-string">"When I'm on the island here, I live with my aunt and uncle, but back home, I live with my mother, father, and sister."</span>

    m <span class="rpy-string">"A sister? Is she older or younger?"</span></pre>
    <aside class="small">
        <figure>
            <a href="http://games.renpy.org/game/mwalks"><img src="/static/moonlightwalks-thumb.jpg"></a>
            <figcaption><a href="http://games.renpy.org/game/mwalks">Moonlight Walks 2.0</a> is a remake of one of the first Ren'Py games ever made.</figcaption>
        </figure>
    </aside>
    <p>As you can see, this example, taken from a working Ren'Py script doesn't require much extra typing when compared just simply typing in the script for the game. It even lets you abbreviate character names, letting you write <code>m</code> instead of "Mary".</p>
    <p>Ren'Py lets you define characters and images in a central place, making it easy to change the game. Scripts also provide consistency, ensuring that the placement of text and images does not inadvertently change throughout the game.</p>
    <p>Unlike other engines that force you to use particular tools, the Ren'Py script language works with whatever text editors and other tools you choose. While we include the jEdit text editor, there's nothing forcing you to use it if you have another editor you like better. Other third-party tools can check your game's spelling, or show you the differences between two versions of the game.</p>
    <p>Since Ren'Py's scripting language is text based, it can be typed out on any keyboard. Not having to switch back and forth between the keyboard and mouse helps increase productivity, especially when producing large projects.</p>
</section>

<section id="features-players-want">
    <h2>Features Players Want</h2>
    <aside class="small">
        <figure>
            <a href="/latest.html"><img src="/static/demo-prefs-thumb.png"></a>
            <figcaption>Preferences Screen</figcaption>
        </figure>
    </aside>
    <p>Ren'Py includes, by default, all of the features a user expects from a visual novel game. While most of these features can be customized or disabled if desired, by default each new game has:</p>
    <ul>
        <li>A main menu that lets the user start a new game, load a game, or adjust settings.</li>
        <li>A game menu that lets the user load, save, and adjust settings.</li>
        <li>Automatic saving of games.</li>
        <li>Rollback, the ability to go back in time to see previously shown screens. The user can even make different choices the second time around.</li>
        <li>Predictive image loading, which loads images in the background. This prevents the user from having to wait around while images are being loaded from disk.</li>
        <li>Support for controlling the game using the mouse, keyboard, or gamepad.</li>
        <li>The ability to pick if the game runs in fullscreen mode, or in a rescalable window.</li>
        <li>The ability to skip through text when replaying, including the ability to skip only text that's been read.</li>
        <li>The ability to auto-advance text without having to hit the keyboard. This adjusts to the amount of text being shown, so longer text sticks around longer.</li>
        <li>The ability to hide text, so that the user can see the pictures behind it.</li>
        <li>The ability to independently change music, sound effect, and voice volume.</li>
    </ul>
</section>

<section id="easy-customize-localize">
    <h2>Easy to Customize and Localize</h2>
    <aside class="small">
        <figure>
            <a href="http://games.renpy.org/game/tfq"><img src="/static/tfq-prefs-thumb.jpg"></a>
            <figcaption><a href="http://games.renpy.org/game/tfq">TFQ</a> uses a lot of imagemap-based menus.</figcaption>
        </figure>
    </aside>
    <p>There are many ways a creator can customize the look and feel of Ren'Py:</p>
    <ul>
        <li>Dialogue can be presented in the default ADV-style mode, or in NVL-mode, where more than one block of text is on the screen at once.</li>
        <li>The style system allows the creator to customize the look of text, buttons, bars, and other interface components.</li>
        <li>Ren'Py's screen language makes it possible to control the layout and behavior of every screen of the user interface.</li>
        <li>The same functionality is made available to Python code, for games that might choose to change their interface at runtime.</li>
    </ul>
    <p>Ren'Py game have been made in or translated to Arabic, Brazilian Portuguese, Czech, English, French, German, Italian, Indonesian, Japanese, Russian, and Spanish. With proper fonts, it supports any language that doesn't require ligatures, and some that do.</p>
</section>

<section id="powerful-effects">
    <h2>Powerful Effects</h2>
    <aside class="small">
        <figure>
            <a href="/latest.html"><img src="/static/atl-thumb.jpg"></a>
            <figcaption>The <a href="/latest.html">Ren'Py Tutorial</a> shows how to use the Animation and Transformation Language in conjunction with a few images to create a movie-like experience.</figcaption>
        </figure>
    </aside>
    <p>Ren'Py can take advantage of hardware acceleration on supported computers, while falling back to software support when it's not. This acceleration makes it possible to apply sophisticated effects to high definition images.</p>
    <p>The Animation and Transformation Language included with Ren'Py makes it possible to animate images, move them around the screen, rotate them, adjust their scaling, and adjust their opacity. All of these can easily be changed over time.</p>
    <p>Ren'Py ships with dozens of customizable transitions that can be invoked when a scene changes. In addition to a full set of slides, wipes, and moves, this includes:</p>
    <ul>
        <li>Pixellation of the old scene, and unpixellation of the new one.</li>
        <li>Fades to black (or another color), and then to the new scene.</li>
        <li>Dissolves of the whole screen from one scene to another.</li>
        <li>Image-controlled dissolves, which use an image to control which portions of the screen dissolve in first. This has been used as the basis for a variety of powerful effects, from blood spatters to transporter beams.</li>
    </ul>
    <p>Ren'Py also supports the playback of movie files.</p>
</section>

<section id="compatible-formats">
    <h2>Compatible Formats</h2>
    <aside class="small">
        <figure>
            <a href="/latest.html"><img src="/static/osx-dev-thumb.jpg"></a>
            <figcaption>The Ren'Py Launcher, jEdit and the Ren'Py Tutorial running on OS X.</figcaption>
        </figure>
    </aside>
    <p>Ren'Py is compatible with assets in a variety of popular formats:</p>
    <ul>
        <li>Images: JPEG/JPG, PNG, WEBP, BMP, GIF</li>
        <li>Sound/Music: OGG Vorbis, OPUS, WAV, MP3, MP2</li>
        <li>Movies: OGG Theora, VP9, VP8, MPEG 4<sup><a href="#note-1">1</a></sup>, MPEG 2, MPEG 1</li>
        <li>Scalable Fonts: TrueType</li>
        <li>Image-based Fonts: SFont, BMFont, MudgeFont</li>
    </ul>
    <p id="note-1" class="sup-description"><sup>1</sup> This format may be patented, and so may not be suitable for use in commercial games.</p>
</section>

<section id="well-supported" style="clear: both">
    <h2>Well Supported</h2>
    <p>Thousands of games have been released with Ren'Py, making it one of the most widely used visual novel engines in the world.</p>
    <p>There are now a large number of creators with Ren'Py experience, many of whom are willing to help fellow creators. The best place to go for support is the Ren'Py forum at the Lemma Soft Forums, which has more than 110,000 posts in over 20,000 threads. (Figures accurate as of June 2019.)</p>
</section>

<section id="what-next">
    <h2>What Next?</h2>
    <p>When you're ready to start using Ren'Py, you'll want to download it from our download page, and then take a look at the Quickstart Guide.</p>
    <p>We can't wait to see what you create!</p>
    <div class="center"><a href="/latest.html" class="btn btn-success btn-lg">Get Started</a></div>
</section>
{% endblock %}
